.userInformation {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.header {
  padding-top: 20px;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
}

.inputContainer {
  position: relative;
}

.textInput {
  border-radius: 4px;
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 16px 32px 16px 16px;
  box-shadow: 0 0 0 1px black;
  width: 100%;
  margin-bottom: 24px;
  margin-top: 8px;
  outline: none;
  border: 1px solid black;
}
.inputLabel{
  position: absolute;
  top: -0px;
  left: 15px;
  background-color: white;
  padding: 0 4px;
  font-size: 12px;
}
.smallInputLayout{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  line-height: 36px;
  font-size: 18px;
  border-radius: 4px;
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  margin-bottom: 8px;
  transition: 0.2s;
}

.button:hover{
  color: white;
  background-color: black;
}

.error {
  color: red;
}

.goBack {
  display: flex;
  padding-left: 0;
  position: absolute;
  font-size: 12px;
  background-color: white;;
  color: black;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
}