.popupContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  overflow: hidden;
}

.productList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  animation: fadeinLine 0.5s forwards;
  transform: translateY(-10%);
  opacity: 0;
}

@keyframes fadeinLine {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.products {
  margin-top: 1rem;
  transition: 0.3s;
}
.products:hover {
  opacity: 0.5;
}