.popupContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.productList {
  display: flex;
  gap: 1.5rem;
  animation: fadeinLine 0.5s forwards;
  transform: translateY(-10%);
  opacity: 0;
}

@keyframes fadeinLine {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.products {
  transition: 0.3s;
}
.products:hover {
  background-color: #e3dfd7;
}
.products > button {
  cursor: pointer;
  color: black;
  background-color: unset;
  border: none;
  font-size: 16px;
  padding: 1rem;
}